<div class="page-section">
    <h1>About Me</h1>
    <p>
        Hi! My name is Kevin and I'm a 3rd year computer engineering student at the
        <a class="waterloo" href="https://www.uwaterloo.ca/" target="_blank">University of Waterloo</a>.
        I have some<sup>1</sup> experience in embedded systems, having worked as a Software Developer Intern at the
        <a class="ford" href="https://www.ford.ca/" target="_blank">Ford Motor Company</a> in the
        <a href="https://en.wikipedia.org/wiki/Manufacturing_engineering" target="_blank">Manufacturing</a> team,
        <a href="https://en.wikipedia.org/wiki/Application_lifecycle_management" target="_blank">Application Lifecycle Management</a> team, and 
        <a href="https://en.wikipedia.org/wiki/Software_deployment" target="_blank">Software Updates</a> team.
        I've also worked as an Automation Intern at the
        <a class="ieso" href="https://www.ieso.ca/" target="_blank">Independent Electricity System Operator</a> in the 
        <a href="https://en.wikipedia.org/wiki/Power_engineering" target="_blank">Power Systems Assessments</a> division back when I was an electrical engineering student.
        Feel free to reach out to me on
        <a class="linkedin" href="https://www.linkedin.com/in/ksisjaya/" target="_blank">linkedin</a>, look through my 
        <a class="github" href="https://www.github.com/ksisjaya" target="_blank">github</a>, or shoot me an email at ksisjaya[at]uwaterloo[dot]ca.
    </p>
    <p><sup>1</sup>your mileage may vary</p>
</div>