<div class="page-section">
    <h1>Experience</h1>
</div>
<div class="experience-section">
    <div class="company-logo">
        <img src="{{ "/assets/img/companies/ford-logo.png" }}" />
    </div>
    <div class="experience-content">
        <h2>Software Developer Intern</h2>
        <h3>ALM + Software Updates Team</h3>
        <h4>September 2021 - December 2021</h4>
        <ul>
            <li>Developed software on the in-vehicle central gateway</li>
            <li>Participated in a weekly SCRUM to address Jira stories and bugs related to ALM components</li>
            <li>Refactored timer architecture in C++ to allow scripts running on the ECG scripting engine to trigger a callback after a period of time via a Lua API call</li>
            <li>Developed Android notification screen prototypes in Java for Ford’s new OTA Software Updates Application</li>
        </ul>
    </div>
</div>
<div class="experience-section">
    <div class="company-logo">
        <img src="{{ "/assets/img/companies/ford-logo.png" }}" />
    </div>
    <div class="experience-content">
        <h2>Software Developer Intern</h2>
        <h3>Manufacturing Team</h3>
        <h4>January 2020 - April 2020</h4>
        <ul>
            <li>Developed software for the in-vehicle central gateway unit, telematics control unit, and Ford Sync device</li>
            <li>Designed and developed a command line tool in Python to automate data serialization across all three ECU's</li>
            <li>Implemented test station C# API methods to set, retrieve, and reset various ECU IDs</li>
            <li>Implemented corresponding device-side code in C++ to respond to API requests from the test station</li>
        </ul>
    </div>
</div>
<div class="experience-section">
    <div class="company-logo">
        <img src="{{ "/assets/img/companies/ieso-logo.png" }}" />
    </div>
    <div class="experience-content">
        <h2>Automation Intern</h2>
        <h3>Power Systems Assessments Team</h3>
        <h4>May 2019 - August 2019</h4>
        <ul>
            <li>Developed scripts to automate energy markets regulation reporting tools</li>
            <li>Implemented a VBA script to pull data from Oracle databases, analyse Ontario transmission grid data, and produce Excel reports</li>
            <li>Developed a VBA script to automate NERC reporting, reducing processing time from 1 week to 10 minutes</li>
            <li>Designed SQL queries on Tableau to visualize NERC regulation report data</li>
        </ul>
    </div>
</div>