<div id="particles-js">
    <div class="header">
        <h1>
            <span class="site-title">{{ site.username }}</span>
        </h1>
        <div class="header-links">
            <a class="link" href="">About</a>
            <a class="link" href="">Projects</a>
            <a class="link" href="">etc.</a>
        </div>
        <div class="header-icons">
            <a href=""><i class="icon fa fa-linkedin-square"></i></a>
            <a href=""><i class="icon fa fa-github"></i></a>
            <a href=""><i class="icon fa fa-envelope"></i></a>
        </div>
    </div>
</div>
  