<div id="particles-js">
    <header>
        <h1>
            <span class="site-title">{{ site.username }} </span>
        </h1>
        <div class="header-links">
            <a class="link" href="#about" data-scroll>About Me</a>
            <a class="link" href="#projects" data-scroll>Projects</a>
        </div>
        <div class="header-icons">
            <a href=""><i class="icon fa fa-linkedin-square"></i></a>
            <a href="#"><i class="icon fa fa-github-square"></i></a>
            <a href="#"><i class="icon fa fa-envelope"></i></a>
        </div>
    </header>
</div>