@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    background-color: $base-color;
    color: $secondary-color;
}

article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
}

h1, h2, h3, h4 {
    line-height: 1.25;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

.page-section {
    text-align: center;
    margin: 5px auto;
}