.footer {
    background: $secondary-color;
    color: $base-color;
    padding: 10px 0;
    margin-top: 100px;
    text-align: center;
    a {
        text-decoration: none;
        color: $base-color;
        background: linear-gradient(to bottom, 
                                    $base-color 0%,
                                    $base-color 100%);
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 4px 1px;
        transition: background-size 0.5s;
        &:hover {
            background-size: 4px 50px;
            color: $secondary-color;
        }
    }
  }