#particles-js {
    background: $base-color;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    vertical-align: bottom;
    width: 100%;
    min-height: 100vh;
    .particles-js-canvas-el {
        width: 100% !important;
        height: 100vh !important;
    }
}

header {
    z-index: 1;
    text-align: center;
    color: $secondary-color;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    .site-title {
        font-size: 50px;
        display: block;
        line-height: 1;
        color: $secondary-color;
        @media only screen and (min-width:$min-width-cut) {
            margin: 0;
            font-size: 100px;
        }
    }
}

.header-links {
    margin: 10px;
    .link {
        color: $secondary-color;
        text-decoration: none;
        font-size: 20px;
        margin: 10px;
        background: linear-gradient(to bottom, 
                                    $secondary-color 0%,
                                    $secondary-color 100%);
        background-position: 0 150%;
        background-repeat: repeat-x;
        background-size: 4px 4px;
        transition: background-size 0.5s;
        &:hover {
            background-size: 4px 50px;
            color: $base-color;
        }
        &:active {
            background-size: 4px 50px;
            color: $base-color;
        }
        @media only screen and (min-width:$min-width-cut) {
            font-size: 40px;
        }
    }
}

.header-icons {
    display: flex;
    justify-content: center;
    text-align: center;
    .icon {
        text-align: center;
        color: $secondary-color;
        width: 20px;
        height: 20px;
        font-size: 20px;
        padding: 10px;
        margin: 5px;
        border: 2px solid $secondary-color;
        transition: all 0.5s;
        &:hover {
            color: $base-color;
            background-color: $secondary-color;
        }
        &:active {
            color: $base-color;
            background-color: $secondary-color;
        }
        @media only screen and (min-width:$min-width-cut) {
            width: 35px;
            height: 35px;
            font-size: 35px;
        }
    }
}