<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/styles.css"}}">

    <script src="https://use.fontawesome.com/559b44cde9.js"></script>
    <script src="//cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="{{ "/assets/js/particles.js" | prepend: site.baseurl }}"></script>
  </head>
  <body>
    {% include header.html %}
    {% include footer.html %}
  </body>
</html>
